.form {
    margin: 0 auto;
    text-align: left;
}

.mock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem 3rem;
    margin: 0 auto;
    z-index: 2;
}

.label {
    margin-bottom: 5px;
}

.input {
    width: 100%;
    margin-bottom: 25px;
}
