.wrapper {
    display: grid;

    min-height: 100vh;
    grid-template-columns: auto minmax(320px, 800px) auto;
    grid-template-areas: ". body .";
}

.body {
    margin-top: 15px;
    grid-area: body;
}
