.wrapper {
    display: grid;

    min-height: 100vh;
    grid-template-columns: auto minmax(320px, 600px) auto;
    grid-template-areas: ". body .";
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    padding: 15px;
    grid-area: body;
    position: relative;
}

.button {
    position: absolute;
    right: 15px;
    top: 15px;
}
